<html>
<head>

</head>

<body>

Username is: <%= user.userName %> <br>
Password is: <%= user.password %> <br>
Name is: <%= user.name %> <br>
Age is: <%= user.age %> <br>

    <form action="addAttributes" method="post">
        Name: <input type="text" name="name">
        Age: <input type="text" name="age">
        <input type="submit" value="ADD STUFF">
    </form>


</body>


</html>

